<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no, maximum-scale=1.0"/>
<title>一元夺宝手机首页</title>
<link rel="stylesheet" type="text/css" href="css/comm.css"/>
<link rel="stylesheet" type="text/css" href="css/index.css"/>
<link rel="stylesheet" type="text/css" href="css/goods.css"/>
</head>

<body>
<!-- header 开始-->
<header class="g-header">
    <div class="head-l">
        <a href="javascript:;" onclick="history.go(-1)" class="z-HReturn"><s></s><b>返回</b></a>
    </div>
     <h2>限时揭晓</h2>
    <!-- 栏目页面顶部 -->
    <div class="fr head-r">            
        <a id="btnCart" href="cartlist.html" class="z-shop"></a>
    </div>          
</header>
<!-- header 结束-->
<nav class="limit-nav">
    <ul>
        <li class="limit-navCur" onclick="">今日揭晓</li>
        <li class="" onclick="">明日限时</li>
    </ul>
</nav>
<section class="flexbox clearfix limit-ct">
    <article id="autoLotteryBox" class="clearfix limit-content" style="display:none">
        <ul id="divTimerItems" class="slides">
            <div id="divNone" class="haveNot z-minheight" style="display:block"><s></s><p>抱歉，明日还没有发布限时揭晓商品！</p></div>
        </ul>
    </article> 
    <article class="flex-control-nav flex-control-paging">
        <div class="m-xs-line"></div><div class="m-ct-time">
            <ul>
                <li style="width:50%"><a class="flex-active"><b>10点</b><s></s></a></li>
                <li style="width:50%"><a class=""><b>22点</b><s></s></a></li>
            </ul>
        </div>
    </article>
    <article id="autoLotteryBox" class="clearfix limit-content">
        <ul id="divTimerItems" class="slides">
            <div class="loading" style="background:#F4F4F4;display:none">
                <b></b>
                正在加载
            </div>  
            <li class="m-xs-li" txt="10点"><!-- 10点 -->
                <div class="m-round limit-bd limit-End">
                    <div class="f-limit-time">
                        <span class="f-limit-time-date">已揭晓</span>
                    </div>
                    <div class="limt-pic">
                        <a href="">
                            <img border="0" src="http://m.yungoucms.cn/statics/uploads/photo/goods.jpg"/>
                        </a>
                    </div>
                    <div class="limit-bd-con">
                        <p class="z-limit-tt"><a href="" class="gray6 z-tt">(第1期)oppo1</a></p>
                        <p class="z-promo">价值:<em class="gray9">￥111.00</em></p>
                        <div class="Progress-bar">
                            <p class="u-progress" title="已完成%">
                                <span class="pgbar" style="width:width:%;">
                                    <span class="pging"></span>
                                </span>
                            </p>
                            <ul class="Pro-bar-li">
                                <li class="P-bar01">
                                    <em>0</em>已参与
                                </li>
                                <li class="P-bar02">
                                    <em>111</em>总需人次
                                </li>
                                <li class="P-bar03">
                                    <em>111</em>剩余
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix gray9 limit-user">
                        <a class="fl z-Limg" href="location.href='http://m.yungoucms.cn/uname/1000000000">
                            <s></s>
                            <img border="0" src="./images/goods.jpg">
                        </a>
                        <p>
                            恭喜<span class="z-user blue" onclick="location.href='http://m.yungoucms.cn/uname/1000000000'">fjdfjdfj</span>获得
                        </p>
                        <p class="m-limit-Code">幸运夺宝码：<em class="orange"></em></p>
                        <p>夺宝人次：0 </p>
                    </div>
                </div>
            </li>                 
            <li class="m-xs-li" txt="22点" style="display:none"><!-- 22点 -->
                <div class="m-round limit-bd ">
                    <div name="timerItem" class="f-limit-time" time="43173">
                        <span class="f-limit-time-date">
                            <b>剩余时间</b><em>00</em>时<em>00</em>分<em>00</em>秒
                        </span>
                    </div>
                    <div class="limt-pic">
                        <a href="http://m.yungoucms.cn/mobile/mobile/item/17292">
                            <img border="0" src="http://m.yungoucms.cn/statics/uploads/photo/goods.jpg"/>
                        </a>
                    </div>
                    <div class="limit-bd-con">
                        <p class="z-limit-tt">
                            <a href="http://m.yungoucms.cn/mobile/mobile/item/17292" class="gray6 z-tt">(第1期)oppo2</a>
                        </p>
                        <p class="z-promo">价值:<em class="gray9">￥111.00</em></p>
                        <div class="Progress-bar">
                            <p class="u-progress" title="已完成%">
                                <span class="pgbar" style="width:width:%;">
                                    <span class="pging"></span>
                                </span>
                            </p>
                            <ul class="Pro-bar-li">
                                <li class="P-bar01"><em>0</em>已参与</li>
                                <li class="P-bar02"><em>111</em>总需人次</li>
                                <li class="P-bar03"><em>111</em>剩余</li>
                            </ul>
                        </div>
                    </div>
                    <div class="u-Btn">
                        <div class="u-Btn-li">
                            <a href="javascript:;" class="z-ShoppingBtn" id="17292">立即1元夺宝</a>
                        </div>
                        <div class="u-Btn-li">
                            <a href="javascript:void(0);" class="z-cartBtn" id="17292">加入购物车</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </article>

   
    <article class="clearfix mt10 m-round limit-tips">
        <h3>限时揭晓规则</h3>
        <div class="limit-tips-ct">
            <p><s></s><b>所有限时揭晓商品，不管已参与人次是否达到总需参与人次，都按截止时间准时揭晓。</b></p>
            <p><s></s><b>如果计算出的夺宝码未被购买，则取差值最小的夺宝码作为幸运夺宝码。</b></p>
            <p><s></s><b>如果有2个夺宝码最小差值相等，则取大值作为最终幸运夺宝码。</b></p>
            <p><s></s><b>限时揭晓商品不参与差价送福分活动且晒单不可再获得1000福分奖励。</b></p>
            <p><s></s><b>限时揭晓的幸运夺宝码计算方式：</b></p>
              <em><span>1)</span><b>限时揭晓商品取截止时间前网站所有商品100条购买时间记录。</b></em>
              <em><span>2)</span><b>时间按时、分、秒、毫秒依次排列组成一组数值。</b></em>
              <em><span>3)</span><b>将这100组数值之和除以商品总需参与人次后取余数，余数加上10,000,001即为“幸运夺宝码”。</b></em>
        </div>
    </article>
</section>

<!-- footer 开始-->
<footer class="footer">
    <div class="u-ft-nav" id="fLoginInfo">
        <span><a href="index.html">首页</a><b></b></span>
        <span><a href="about.html">新手指南</a><b></b></span>
        <span><a href="login.html">登录</a><b></b></span>
        <span><a href="register.html">注册</a></span>
    </div>
        <p class="m-ftA">
        <a href="">触屏版</a>
        <a href="">电脑版</a>
        <a href="">下载客户端</a>
    </p>
    <p class="grayc">客服热线<span class="orange">023-67898742</span>Copyright © 2011 - 2013, 版权所有 粤ICP备09213115号-1</p>
    <a class="z-top" style="display:none;"><b class="z-arrow"></b></a>
</footer>
<!-- footer 结束-->
</body>
</html>
