<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no, maximum-scale=1.0"/>
<title>一元夺宝手机首页</title>
<link rel="stylesheet" type="text/css" href="css/comm.css"/>
<link rel="stylesheet" type="text/css" href="css/index.css"/>
<link rel="stylesheet" type="text/css" href="css/goods.css"/>
</head>

<body>
<!-- header 开始-->
<header class="g-header">
    <div class="head-l">
        <a href="javascript:;" onclick="history.go(-1)" class="z-HReturn"><s></s><b>返回</b></a>
    </div>
     <h2>晒单详情</h2>
    <!-- 栏目页面顶部 -->
    <div class="fr head-r">            
        <a href="index.html" class="z-Home"></a>
    </div>          
</header>
<!-- header 结束-->
<section class="clearfix g-share-lucky">      
    <span class='z-Reward'><em>800</em></span>
    <a class="fl u-lucky-img" href=""><img border="0" alt="" src="http://mimg.1yyg.com/userface/160/20150310155637457.jpg"> </a>
    <div class="u-lucky-r">
        <p>幸运获得者：<a href="http://m.1yyg.com/userpage/1008993657" class="z-user blue">我有那么好运嘛</a></p>
        <p>幸运夺宝码：<em class="orange">10000058</em></p>
        <p>本期夺宝：<em class="orange">14</em>人次</p>
        <p>揭晓时间：<em class="arial">2015-03-10 16:37:48.965</em></p> 
    </div>       
</section>
<!-- 热门推荐 -->
<section class="clearfix g-share-ct">       
    <b class="z-aw-es z-arrow"></b> 
    <article class="m-share-con">
        <h2>电源手到擒来</h2>
        <em class="arial">今天 11:41</em>
        <p class="z-share-pad" id="shareContent">我已经中了三个电源了&nbsp;真的很高兴，身边的朋友看到我都很羡慕，在我的影响之下，朋友个个都开始在玩一元夺宝，有一位十几块就抽到了苹果，谢谢一元夺宝这个平台让我们花少钱中大奖，也谢谢这次替我填坑的云友们，支持一元夺宝，我会常来玩的，当做生活的一种乐趣，也挺不错的</p>
        <p><img src="http://postimg.1yyg.com/UserPost/Big/20150314131234473.jpg" border="0" alt="" ></p>
        <p><img src="http://postimg.1yyg.com/UserPost/Big/20150314131226105.jpg" border="0" alt="" ></p>
        <p><img src="http://postimg.1yyg.com/UserPost/Big/20150314131150459.jpg" border="0" alt="" ></p>
        <p><img src="http://postimg.1yyg.com/UserPost/Big/20150314131132894.jpg" border="0" alt="" ></p>
        <p><img src="http://postimg.1yyg.com/UserPost/Big/20150314131210260.jpg" border="0" alt="" ></p>
    </article>
    <aside class="clearfix m-share-goods" onclick="location.href='/lottery/detail-398707.html'">
        <h3 class="fl">获得的商品</h3>
        <a class="fl u-goods-img" href="javascript:void(0)"><img border="0" alt="" src="http://mimg.1yyg.com/GoodsPic/Pic-200-200/20141120165235285.jpg"></a>
        <div class="u-goods-r">
            <p class="z-goods-tt"><a href="javascript:void(0)" class="gray6">(第2184期)小米（MIUI）16000mAh 移动电源</a></p>
            <p>价值：<em class="arial">￥129.00</em></p>
        </div>
        <a href="/lottery/detail-398707.html" class="u-rs-m1"><b class="z-arrow"></b></a>
    </aside>
    <div class="m-share-fixed">
        <div id="CommentNav"> 
            <div class="m-share-btn">
                <div id="divtest" class="u-btn-w"><a id="emHits" class="z-btn-mood"><s></s>羡慕嫉妒恨(<em>0</em>)</a></div>
                <div class="u-btn-w"><a id="btnComment" href="javascript:void(0);" class="z-btn-comment"><s></s>我要评论</a></div>
                <div class="u-btn-w"><a id="btnShare" href="javascript:void(0);" class="z-btn-Share"><s></s>分享</a></div>
            </div>
            <div class="m-comment" style="display:block;"><!-- 我要评论 -->
                <div class="u-comment ">
                    <textarea name="comment" id="comment" rows="3" class="z-comment-txt" placeholder="说点什么吧！">说点什么吧！</textarea>
                </div>
                <div class="u-Btn"style="padding:0;margin:10px 0;">
                    <div class="u-Btn-li"><a id="btnCancel" href="javascript:;" class="z-CloseBtn">取 消</a></div>
                    <div class="u-Btn-li"><a id="btnPublish" href="javascript:;" class="z-DefineBtn">发表评论</a></div>
                </div>
            </div>
            <div class="m-shareT-round"></div>
        </div>
        <div id="fillDiv" style="display:none;"></div>
    </div> 
    <article class="m-share-comment m-round">
        <h3>共<span id="ReplyCount"  class="z-user orange">2</span>条评论</h3>
        <ul id="replyList">
            <li>
                <a class="fl u-comment-img" href=""><img border="0" alt="" src="http://mimg.1yyg.com/userface/20150315020443533.jpg"></a>
                <div class="u-comment-r">
                    <p class="z-comment-name"><a href="" class="blue">毛爷爷叫我来抽奖</a></p>
                    <p class="gray6"><span>我发现我爱死一元夺宝了</span><b>今天 07:11</b></p>
                </div>
            </li>
            <li>
                <a class="fl u-comment-img" href=""><img border="0" alt="" src="http://mimg.1yyg.com/userface/20150314230109994.jpg"></a>
                <div class="u-comment-r">
                    <p class="z-comment-name"><a href="" class="blue">教你中5s和6</a></p>
                    <p class="gray6"><span>加我好友。我就教你</span><b>今天 05:48</b></p>
                </div>
            </li>
        </ul>
        <a id="btnLoadMore" class="loading" href="javascript:void(0);" style="display:none;">点击加载更多</a>
        <div id="divLoading" class="loading"style="display:none;"><b></b>正在加载</div>
    </article>
</section>



<!-- footer 开始-->
<footer class="footer">
    <div class="u-ft-nav" id="fLoginInfo">
        <span><a href="index.html">首页</a><b></b></span>
        <span><a href="about.html">新手指南</a><b></b></span>
        <span><a href="login.html">登录</a><b></b></span>
        <span><a href="register.html">注册</a></span>
    </div>
        <p class="m-ftA">
        <a href="">触屏版</a>
        <a href="">电脑版</a>
        <a href="">下载客户端</a>
    </p>
    <p class="grayc">客服热线<span class="orange">023-67898742</span>Copyright © 2011 - 2013, 版权所有 粤ICP备09213115号-1</p>
    <a class="z-top" style="display:none;"><b class="z-arrow"></b></a>
</footer>
<!-- footer 结束-->
</body>
</html>
