{wc:fun:css("goods")}
{wc:fun:js("jquery.cmsapi")}
{wc:fun:js("template")}
{wc:fun:js("template.fun")}
{wc:fun:js("jquery.cartlist")}
{wc:templates "index.header"}
<!-- 栏目导航 开始-->
<!-- {wc:templates "index.navs"} -->
<!-- 栏目导航 结束-->
<section class="goodsCon" style="background:#fff;">
    <!-- 导航 -->
<!--     <div class="goodsNav">
        <ul id="divGoodsNav">
        
            <li order="10" {wc:if $sort=='1' } class="current" {wc:if:end}>
                <a href="{WEB_PATH}/cgoods_list/{wc:$cid}_0_1#b">即将揭晓<b></b></a>
            </li>
            <li order="20" {wc:if $sort=='2' } class="current" {wc:if:end}>
                <a href="{WEB_PATH}/cgoods_list/{wc:$cid}_0_2#b">人气<b></b></a>
            </li>
            <li order="40" {wc:if $sort=='4' } class="current" {wc:if:end}>
                <a href="{WEB_PATH}/cgoods_list/{wc:$cid}_0_4#b">最新<b></b></a>
            </li>
            <li order="50" type="price" {wc:if $sort=='5' } class="current" {wc:if:end}>
                <a href="{WEB_PATH}/cgoods_list/{wc:$cid}_0_5#b">价值<em></em><s></s><b></b></a>
            </li>
            <li order="">{wc:if $cid=='0'}
                <a href="javascript:;">商品分类<s class="arrowUp"></s></a>{wc:else}
                <a href="javascript:;">{wc:fun:catname($cid)}<s class="arrowUp"></s></a>{wc:if:end}
                <dl style="display:none;">
                    <dd type="0" class="sOrange">
                        <a href="{WEB_PATH}/cgoods_list/0_0_{wc:$sort}">全部</a>
                    </dd>{wc:loop GetCate('0',12,10) $v}
                    <dd>
                        <a id="{wc:$v['cateid']}" href="{WEB_PATH}/cgoods_list/{wc:$v['cateid']}_0_{wc:$sort}">{wc:$v['name']}</a>
                    </dd>{wc:loop:end}</dl>
            </li>
        </ul>
    </div> -->
    <!-- 列表 -->
    <div class="goodsList" id="goodsList">
        {wc:loop $cpgoodslist $shop}
        <ul>
            <li>
                <span class="z-Limg">
                    <a href="{WEB_PATH}/cgoods/{wc:$shop['id']}"><img src="{G_UPLOAD_PATH}/{wc:$shop['g_thumb']}"></a>
                </span>
                <div class="goodsListR">
                    <a href="{WEB_PATH}/cgoods/{wc:$shop['id']}"><h2 >{wc:$shop['g_title']}</h2></a>
                    <div class="pRate">
                        <div class="Progress-bar">
                            <p class="u-progress">
                                <span class="pgbar" style="width:{wc:fun:intval(width($shop['canyurenshu'],$shop['zongrenshu'],100))}%;">
                                    <span class="pging"></span>
                                </span>
                            </p>
                            <ul class="Pro-bar-li">
                                <li class="P-bar01">
                                    <em>{wc:$shop['canyurenshu']}</em>已参与</li>
                                <li class="P-bar02">
                                    <em>{wc:$shop['zongrenshu']}</em>总需人次</li>
                                <li class="P-bar03">
                                    <em>{wc:$shop['zongrenshu']-$shop['canyurenshu']}</em>剩余</li>
                            </ul>
                        </div>
                        <a class="add " codeid="16901" onclick="gcartlist.gocartlist({wc:$shop['id']},'{WEB_PATH}','{wc:fun:GetConfig('cookie_pre')}')" href="javascript:;"><s></s></a>

                    </div>
                </div>
            </li>
        </ul>
        {wc:loop:end}
    </div>
        <!--  <div id="LoadDataA">
            <a class="loading" href="javascript:void(0)">点击加载更多</a>
            <a class="loading" href="javascript:void(0)" style="display:none;">正在加载...</a>
            <a class="loading" href="javascript:void(0)" style="display:none;">没有数据了</a>
            <a class="loading" href="javascript:void(0)" style="display:none;">已经到底了</a>
        </div> -->
</section>
<!-- footer 开始-->
<script id="goodsListData" type="text/html">
    {{each list as shop i}}
       <ul>
            <li>
                <span class="z-Limg">
                    <a href="{WEB_PATH}/cgoods/{{shop.id}}"><img src="{G_UPLOAD_PATH}/{{shop.g_thumb}}"></a>
                </span>
                <div class="goodsListR">
                    <a href="{WEB_PATH}/cgoods/{{shop.id}}"><h2 >{{shop.g_title}}</h2></a>
                    <div class="pRate">
                        <div class="Progress-bar">
                            <p class="u-progress">
                                <span class="pgbar" style="width:{{null | width:shop.canyurenshu,shop.zongrenshu}};">
                                    <span class="pging"></span>
                                </span>
                            </p>
                            <ul class="Pro-bar-li">
                                <li class="P-bar01">
                                    <em>{{shop.canyurenshu}}</em>已参与</li>
                                <li class="P-bar02">
                                    <em>{{shop.zongrenshu}}</em>总需人次</li>
                                <li class="P-bar03">
                                    <em>{{shop.shenyurenshu}}</em>剩余</li>

                            </ul>
                        </div>
                       <a class="add" onclick="gcartlist.gocartlist({{shop.id}},'{WEB_PATH}','{wc:fun:GetConfig('cookie_pre')}')" href="javascript:;"><s></s></a>
                    </div>
                </div>
            </li>
        </ul>
    {{/each}}
</script>


<script type="text/javascript">
    $(document).ready(function(){

        $("#LoadDataA a").click(function(){
            $data = $("#LoadDataA a");
            $data.data("page",($data.data("page")|0) + 1)
            $data.data("page",$data.data("page")==1 ?　2 : $data.data("page"))
            if($data.data("maxpage") === undefined){
                $data.hide().eq(1).show()
                $.get(APP.G_WEB_PATH + "/index/cloud_goods/search_goods"+"/p"+$data.data("page"),function($datas){
                        //$($datas).each(function(index) {  })
                        if($datas.cpgoodslist.length < 20 ){
                            $data.data("maxpage",$data.data("page"))
                        }
                        $("#goodsList").append(template('goodsListData', {list:$datas.cpgoodslist}))
                        $data.hide().eq(0).show()
                },"json")
            } else {
                $data.hide().eq(2).show()
            }
        });


        //商品分类
        var dl=$("#divGoodsNav dl"),
                last=$("#divGoodsNav li:last"),
                first=$("#divGoodsNav dd:first");
        $("#divGoodsNav li:last a:first").click(function(){
            if(dl.css("display")=='none'){
                dl.show();
                last.addClass("gSort");
                first.addClass("sOrange");
            }else{
                dl.hide();
                last.removeClass("gSort");
                first.removeClass("sOrange");
            }
        });

    });
</script>
{wc:templates "index.footer"}