{wc:fun:js("jquery.cmsapi")}
{wc:templates "index.header_top"}
<script type="text/javascript">
    $.YunCmsApi.SetTopStyle({
        "Title":"晒单列表",
        "Home":true,
        "Member":true
    }); 
</script>

    <input name="hidCodeID" type="hidden" id="hidCodeID" value="18101" />
    <input name="hidIsEnd" type="hidden" id="hidIsEnd" value="1" />
    <!-- 晒单记录 -->
    <section class="goodsCon">
        <div class="cSingleCon">            
            <p class="cEntry">已有<em class="orange">{wc:fun:count($shaidan)}</em>个幸运者晒单，<em class="orange">{wc:$totalpl}</em>条评论！</p>
            <div id="postList" class="cSingleCon2" style="display:block;" z-minheight>
                {wc:loop $shareiframe $sd}
                <div class="cSingleInfo">
                    <dl class="fl"><a href="{WEB_PATH}/mobile/mobile/userindex/{wc:$sd['sd_userid']}"><img src="{G_UPLOAD_PATH}/{wc:fun:get_user_key($sd['sd_userid'],'img')}"><b></b></a></dl>
                    <div class="cSingleR m-round" id="{wc:$sd['sd_id']}">
                        <ul>
                            <li><em class="blue" uweb="{wc:$sd['sd_userid']}">{wc:fun:userid($sd['sd_userid'],'username')}</em><strong>：</strong><span>{wc:$sd['sd_title']}</span></li>
                            
                            <li><h3><b>第{wc:$sd['qishu']}期晒单</b> {wc:fun:date('Y-m-d H:i:s',$sd['sd_time'])}</h3></li>
                            <li><p>{wc:$sd['sd_content']}</p></li>
                            <li class="maxImg">
                                {wc:loop $sd['sd_photolist'] $sd_photolist}
                                    <img src="{G_UPLOAD_PATH}/{wc:$sd_photolist}" border=0 />
                                {wc:loop:end}                           
                            </li>
                            <li><dd><s></s><strong>{wc:$sd['sd_zhan']}</strong>人羡慕嫉妒</dd><dd><i></i><strong>{wc:$sd['sd_ping']}</strong>条评论</dd></li>
                        </ul><b class="z-arrow"></b>
                    </div>
                </div>
                {wc:loop:end}
            </div>
        </div>
    </section>
 <!-- footer 开始-->
{wc:templates "index.footer"}

<script language="javascript" type="text/javascript">
//跳转页面
    $(".cSingleInfo li:not(:first)").click(function(){
        var id=$(this).parent().parent().attr('id');
        if(id){
            window.location.href="{WEB_PATH}/mobile/shaidan/detail/"+id;
        }           
    });
    $(".cSingleInfo .blue").click(function(){
        var id=$(this).attr('uweb');
        if(id){
            window.location.href="{WEB_PATH}/mobile/mobile/userindex/"+id;
        }   
    }); 
</script>

</div>

