<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no, maximum-scale=1.0"/>
<title>一元夺宝手机首页</title>
<link rel="stylesheet" type="text/css" href="css/comm.css"/>
<link rel="stylesheet" type="text/css" href="css/index.css"/>
<link rel="stylesheet" type="text/css" href="css/goods.css"/>
<link rel="stylesheet" type="text/css" href="css/login.css"/>
</head>

<body>
<!-- header 开始-->
<header class="g-header">
    <div class="head-l">
        <a href="javascript:;" onclick="history.go(-1)" class="z-HReturn"><s></s><b>返回</b></a>
    </div>
     <h2>登录</h2>
    <!-- 栏目页面顶部 -->
    <div class="fr head-r">            
        <a href="http://m.yungoucms.cn/mobile/mobile" class="z-Home"></a>
    </div>          
</header>
<!-- header 结束-->
<section>
    <div class="registerCon">
        <ul>
            <li class="accAndPwd">
                <dl><input id="txtAccount" type="text" placeholder="请输入您的手机号码/邮箱" class="lEmail"><s class="rs4"></s></dl>
                <dl>
                    <input type="password" id="txtPassword" class="lPwd" placeholder="密码">
                    <s class="rs3"></s>
                </dl>
                <dl>
                    <input type="text" id="txtVerify" class="lVerify" placeholder="验证码"><span class="fog"><img id="checkcode" src="http://m.yungoucms.cn/api/checkcode/image/80_27/"/></span>
                    <s class="rs3"></s>
                </dl>
            </li>
            <li><a href="javascript:;" id="btnLogin" class="nextBtn orgBtn">登 录</a>
            
            <input name="hidLoginForward" type="hidden" id="hidLoginForward" value="http://m.yungoucms.cn/mobile/home" /></li>
            <li class="rSelect"><!-- <a href="FindPassword.html">忘记密码？</a> -->
            <b></b><a href="register.html">新用户注册</a></li>
        </ul>
    </div>
</section>



<!-- footer 开始-->
<footer class="footer">
    <div class="u-ft-nav" id="fLoginInfo">
        <span><a href="index.html">首页</a><b></b></span>
        <span><a href="about.html">新手指南</a><b></b></span>
        <span><a href="login.html">登录</a><b></b></span>
        <span><a href="register.html">注册</a></span>
    </div>
        <p class="m-ftA">
        <a href="">触屏版</a>
        <a href="" target="_blank">电脑版</a>
        <a href="">下载客户端</a>
    </p>
    <p class="grayc">客服热线<span class="orange">023-67898742</span>Copyright © 2011 - 2013, 版权所有 粤ICP备09213115号-1</p>
    <a class="z-top" style="display:none;"><b class="z-arrow"></b></a>
</footer>
<!-- footer 结束-->
</body>
</html>
