<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no, maximum-scale=1.0"/>
        <title>404</title>
        <style>
            body,html{ background-color: #f60; padding: 0; margin: 0; }
            #sys-404{ color: #fff; text-align: center; font-size: 3em;}
            #sys-404 p{font-size: 3em; margin-top:-.625em;}
        </style>
    </head>
        
    <body>
            
            
            <div id="sys-404">
                <h1>④o④</h1>
                <p>﹀</p>
            </div>
        
    </body>
</html>