{wc:templates "index.header_top"}
<section id="calResult" class="z-minheight">
    <div class="infoResult">
        <dl>截止揭晓时间【2014-11-27 10:10:55.620】最<em>后100条全站购买时间记录</em></dl>
        <ul class="result2">
            <li class="iTitle"><span>夺宝时间</span><span>转换数据</span><span>会员账号</span></li>
            <li><span>2014-11-27<dd>10:10:25.524</dd></span><span>101025524</span><span>13844799268</span><p><b class="z-arrow"></b></p></li>
            <li><span>2014-11-27<dd>10:06:30.104</dd></span><span>100630104</span><span>13844799268</span><p><b class="z-arrow"></b></p></li>
            <li><span>2014-11-27<dd>10:10:25.524</dd></span><span>101025524</span><span>13844799268</span><p><b class="z-arrow"></b></p></li>
            <li><span>2014-11-27<dd>10:06:30.104</dd></span><span>100630104</span><span>13844799268</span><p><b class="z-arrow"></b></p></li>
            <li><span>2014-11-27<dd>10:10:25.524</dd></span><span>101025524</span><span>13844799268</span><p><b class="z-arrow"></b></p></li>
            <li><span>2014-11-27<dd>10:06:30.104</dd></span><span>100630104</span><span>13844799268</span><p><b class="z-arrow"></b></p></li>
            <li><span>2014-11-27<dd>10:10:25.524</dd></span><span>101025524</span><span>13844799268</span><p><b class="z-arrow"></b></p></li>
            <li><span>2014-11-27<dd>10:06:30.104</dd></span><span>100630104</span><span>13844799268</span><p><b class="z-arrow"></b></p></li>
            <li><span>2014-11-27<dd>10:10:25.524</dd></span><span>101025524</span><span>13844799268</span><p><b class="z-arrow"></b></p></li>
            <li><span>2014-11-27<dd>10:06:30.104</dd></span><span>100630104</span><span>13844799268</span><p><b class="z-arrow"></b></p></li>
            <li><span>2014-11-27<dd>10:10:25.524</dd></span><span>101025524</span><span>13844799268</span><p><b class="z-arrow"></b></p></li>
            <li><span>2014-11-27<dd>10:06:30.104</dd></span><span>100630104</span><span>13844799268</span><p><b class="z-arrow"></b></p></li>
            <li><span>2014-11-27<dd>10:10:25.524</dd></span><span>101025524</span><span>13844799268</span><p><b class="z-arrow"></b></p></li>
            <li><span>2014-11-27<dd>10:06:30.104</dd></span><span>100630104</span><span>13844799268</span><p><b class="z-arrow"></b></p></li>
            <li><span>2014-11-27<dd>10:10:25.524</dd></span><span>101025524</span><span>13844799268</span><p><b class="z-arrow"></b></p></li>
            <li><span>2014-11-27<dd>10:06:30.104</dd></span><span>100630104</span><span>13844799268</span><p><b class="z-arrow"></b></p></li>
            <li><span>2014-11-27<dd>10:10:25.524</dd></span><span>101025524</span><span>13844799268</span><p><b class="z-arrow"></b></p></li>
            <li><span>2014-11-27<dd>10:06:30.104</dd></span><span>100630104</span><span>13844799268</span><p><b class="z-arrow"></b></p></li>
        </ul>
    </div>
    <div class="infoCount">
        <div class="infoCount2">
            <ul>
                <li style="border:0 none;">取以上数值结果得：</li>
                <li>1、求和：101055620<em>(上面100条夺宝记录时间取值相加之和)</em></li>
                <li><p>2、取余：101055620<em>(100条时间记录之和)</em><br>%5299<em>(本商品总需参与人次)</em>=3369<em>(余数)</em></p></li>
                <li>3、计算结果：3369<em>(余数)</em>+10000001=<span>10003370</span><p></p></li>
                <li><p style="text-indent:-6.6em; padding-left:80px;">4、最终结果：10003370 未被购买，取差值最小的夺宝码 10004250 为幸运夺宝码</p></li>
            </ul>
        </div>
    </div>
</section>
{wc:templates "index.footer"}
