{wc:templates "index.header_top"}
<section class="goodsCon pCon">
    <!-- 导航 -->
    <div id="divPeriod" class="pNav">
        <div class="loading" style="display:none"><b></b>正在加载</div>
        <ul class="slides">
           <li><a href="goods.now.html">第2期</a><b></b></li><li class="cur"><a href="javascript:;">第1期</a><b></b></li>           
        </ul>
    </div>        
    <!-- 揭晓信息 -->
    <div class="pProcess pProcess2">
        <div class="pResults">
            <div class="pResultsL" onclick="location.href='http://localhost/njl/?/uname/1000000001'">
                <a>
                    <img src="http://localhost/njl/statics/uploads/touimg/20150206/36824870208988.png">
                    <span>xyzxxx</span>
                </a>
                <s></s>
            </div>
            <div class="pResultsR">
                <div class="g-snav">
                    <div class="g-snav-lst">总共夺宝<br><dd><b class="orange">201</b><br>人次</dd></div>
                    <div class="g-snav-lst">揭晓时间<br><dd class="gray9"><span>2015-01-27 15:26:16.083</span></dd></div>
                    <div class="g-snav-lst">夺宝时间<br><dd class="gray9"><span>2015-01-27 15:25:45.861</span></dd></div>
                </div>
            </div>
            <p><a href="user.calResult.html"class="fr">查看计算结果</a>幸运夺宝码：<b class="orange">10000102</b></p>
        </div>
    </div> 
    <!-- 产品图 -->
    <div class="pPic pPicBor">
        <div class="pPic2">
            <div id="sliderBox" class="pImg">
                <div class="loading"><b></b>正在加载</div>
                <ul class="slides">
                </ul>
            </div>
        </div>
    </div>
    <!-- 条码信息 --> 
    <div class="pDetails pDetails-end">
        <b>(第1期)note1 <span></span></b>
        <p class="price">价值：<em class="arial gray">￥201</em></p>
        <div class="Progress-bar">
            <p class="u-progress" title="已完成100.00%">
                <span class="pgbar" style="width:100%;">
                    <span class="pging"></span>
                </span>
            </p>
            <ul class="Pro-bar-li">
                <li class="P-bar01"><em>201</em>已参与</li>
                <li class="P-bar02"><em>201</em>总需人次</li>
                <li class="P-bar03"><em>0</em>剩余</li>
            </ul>
        </div>
        <div class="pClosed">本期已揭晓</div>
        <div class="pOngoing" codeid="24">第<em class="arial">2</em>期 正在进行中……<span class="fr">查看详情</span></div>
    </div>
    <!-- 参与记录，商品详细，晒单导航 -->
    <div class="joinAndGet">
        <dl>
            <a href=""><b class="fr z-arrow"></b>所有夺宝记录</a>
            <a href=""><b class="fr z-arrow"></b>图文详情<em>（建议WIFI下使用）</em> </a> 
            <a href=""><b class="fr z-arrow"></b>已有<span class="orange arial">0</span>个幸运者晒单<strong class="orange arial">0</strong>条评论</a> 
        </dl>
        <!-- 上期获得者 -->            
    </div>
</section>
{wc:templates "index.footer"}
