/* * 首页 * Author Cloud * CreateDate 2014-03-20 * Copyright:1997-2014 Netease Inc. All rights reserved. */.f-txt-hidden {
	text-indent: -9999px;
}

img {
	display: block;
}

.m-index {
}

.m-index .g-main {
	width: 970px;
}

.m-index .g-side {
	width: 230px;
}

.m-index .g-main-l {
	float: left;
	width: 240px;
}

.m-index .g-main-m {
	float: right;
	width: 730px;
}

.g-body-bd .g-main {
	width: 960px;
}

body:before {
	content: '';
	position: fixed;
}

.m-index-news {
	margin-top: 367px;
	padding: 0 12px;
	height: 213px;
	background: #ebe1b0;
	color: #666633;
	position: relative;
}

.m-index-news a {
	font-weight: normal;
	color: #666633;
}

.m-index-news h4 {
	padding-top: 15px;
	width: 100%;
	line-height: 35px;
	font-size: 14px;
	font-weight: bold;
	/*border-bottom: 1px solid #666633;*/
}

.m-index-news h4 a {
	font-weight: bold;
}

.m-index-news-hd {
	margin-bottom: 5px;
	position: relative;
	_zoom: 1;
}

.m-index-news-bd {
	line-height: 18px;
}

.m-index-news-bd a {
	text-decoration: underline;
}

.m-index-news-bd ul {
	list-style: disc inside;
}

.m-index-news-bd ol {
	list-style: decimal inside;
}

.m-index-news-list,.m-index-news-default {
	list-style-type: none!important;
	list-style-position: outside!important
}

.m-index-news-default li {
	padding: 6px 0 6px 22px;
	position: relative;
	_zoom: 1;
}

.m-index-news-bd .index {
	position: absolute;
	top: 6px;
	left: 0;
	display: inline-block;
	width: 18px;
	line-height: 18px;
	text-align: center;
	border-radius: 50%;
	background-color: #666633;
	color: #fff;
}

.m-index-news-list li {
	padding: 5px;
	display: inline-block;
	width: 200px;
	vertical-align: bottom;
}

.m-index-news-list a {
	text-decoration: none;
}

.m-index-news-list a:hover {
	text-decoration: underline;
}

.m-index-news-list .lv1,.m-index-news-list .lv2 {
	padding-right: 6px;
	font-family: 'verdana';
	font-size: 16px;
	font-style: italic;
}

.m-index-news-list .lv1 {
	color: #d83333;
}

.m-index-news-list .lv2 {
	color: #7d7440;
}

.m-index-news-more {
	position: absolute;
	bottom: 8px;
	right: 0;
	font-family: simsun;
}

.m-index-news-ext {
	position: absolute;
	bottom: 10px;
	right: 12px;
}

.m-index-news-ext a {
	font-family: simsun
}

.m-index-promot {
	width: 730px;
	height: 370px;
}

.m-index-newReveal {
	padding-top: 10px;
	width: 100%;
	height: 199px;
	border-bottom: 1px solid #e8e8e8;
	background: #fff;
	overflow: hidden;
}

.m-index-newReveal h4 {
	display: none;
}

.m-index-newReveal .w-slide-wrap-list {
	height: 170px;
}

.m-index-newReveal .w-slide-wrap-list-item {
	width: 364px;
	height: 170px;
	border-right: 1px solid #e8e8e8;
}

.m-index-newReveal .w-slide-controller-btn a {
	width: 38px;
	height: 38px;
	top: 85px;
}

.m-index-newReveal .w-slide-controller-btn .prev i {
	top: 7px;
	left: 11px;
}

.m-index-newReveal .w-slide-controller-btn .next i {
	top: 7px;
	right: 11px;
}

.m-index-newReveal .w-slide-controller-nav {
	position: relative;
	bottom: 0;
	left: 0;
	padding-top: 10px;
}

.m-index-newReveal .w-slide-controller-nav .dot {
	width: 10px;
	height: 10px;
}

.m-index-recommend {
	padding: 10px 15px;
	width: 200px;
	height: 349px;
	background: #ffffff;
	position: relative;
	border: 1px solid #e8e8e8;
	border-width: 0 1px 0 0;
}

.m-index-recommend .ico-joined {
	position: absolute;
	top: 172px;
	right: 16px;
}

.m-index-recommend h4 {
	display: none;
}

.m-index-recommend .w-goods-pic {
	margin-bottom: 5px;
}

.m-index-recommend .w-goods-title a {
	font-size: 14px;
	font-weight: normal;
}

.m-index-recommend .w-goods-price {
	margin-bottom: 6px;
}

.m-index-recommend .w-progressBar-wrap {
	margin-bottom: 3px;
}

.m-index-recommend .w-progressBar-txt strong {
	font-weight: normal;
	color: #ff9900;
}

.m-index-recommend .w-goods .w-goods-opr {
	margin-top: 12px;
}

.m-index-newGoods {
	margin-left: -1px;
	width: 100%;
	height: 209px;
	border: 1px solid #e8e8e8;
	background: #fff;
	position: relative;
	overflow: hidden;
}

.m-index-newGoods .ico-label {
	right: 0;
	top: 10px;
	z-index: 2;
}

.m-index-newGoods {
}

.m-index-newGoods .w-slide-wrap-list-item {
	width: 230px;
}

.m-index-newGoods .wrap {
	width: 190px;
	margin: auto;
	table-layout: fixed;
}

.m-index-newGoods .w-slide-controller-btn a {
	width: 20px;
	height: 38px;
	top: 85px;
}

.m-index-newGoods .prev i {
	top: 12px;
	left: 5px;
}

.m-index-newGoods .next i {
	top: 12px;
	right: 5px;
}

.m-index-newGoods-desc {
	color: #808080;
}

.m-index-willReveal {
	position: relative;
	height: 211px;
	overflow: hidden;
	_zoom: 1;
	background: #c9d9eb;
	background: -moz-radial-gradient(50% 75%,#fafafa 15%,#c9d9eb 80%);
	background: -webkit-radial-gradient(50% 75%,#fafafa 15%,#c9d9eb 80%);
	background: -o-radial-gradient(50% 75%,#fafafa 15%,#c9d9eb 80%);
	background: -ms-radial-gradient(50% 75%,#fafafa 15%,#c9d9eb 80%);
}

.m-index-willReveal .deco {
	position: absolute;
	right: 0;
	top: 0;
	width: 35px;
	height: 35px;
	background: url('../images/2ce6194e70169d100ad91a89938edb677bd506c8.png') 0 -60px no-repeat;
}

.m-index-willReveal-extlink {
	display: block;
	width: 100%;
	height: 100%;
}

.m-index-willReveal .w-countdown,.m-index-willReveal .w-countdown-title {
	color: #455F8E;
	font-size: 12px;
}

.m-index-willReveal .w-countdown b {
	color: #F95F02;
	font-size: 18px;
}

.m-index-mod {
	margin-top: 11px;
}

.g-side .m-index-mod {
	margin-top: 18px;
}

.m-index-mod .w-hd {
	border: none;
}

.m-index-mod-hd {
	position: relative;
	height: 40px;
	border-bottom: 2px solid #888888;
	z-index: 1;
}

.m-index-mod-hd h3 {
	line-height: 40px;
	font-size: 18px;
	color: #000;
	font-weight: bold;
	font-family: "Microsoft Yahei";
}

.m-index-mod-more {
	position: absolute;
	right: 0;
	bottom: 0px;
	line-height: 30px;
	color: #808080;
	font-family: "simsun";
}

.m-index-mod-bd {
	background: #fff;
	zoom: 1;
}

.g-side .m-index-mod-hd {
	padding-left: 15px;
	height: 32px;
	background-color: #db3652;
}

.g-side .m-index-mod-hd h3 {
	line-height: 32px;
	color: #fff;
	font-size: 16px;
	font-weight: normal;
}

.w-goodsList .w-goods-ing {
	height: 379px;
}

.w-goodsList .w-goods-ing,.w-goodsList .w-goods-blank {
	margin: 10px 19px 11px 20px;
}

.w-goodsList .w-goodsList-item:hover .w-goods-ing,.w-goodsList .w-goodsList-item-hover .w-goods-ing,.w-goodsList .w-goodsList-item:hover .w-goods-blank,.w-goodsList .w-goodsList-item-hover .w-goods-blank {
	margin: 9px 18px 10px 19px;
}

.w-goods-ing .w-goods-opr {
	margin-top: 17px;
}

.w-goods-ing .w-goods-opr .w-button-addToCart {
	margin-left: 5px;
	border: none;
	padding: 0;
}

.w-goods-ing .w-goods-opr .w-button-addToCart:hover {
	background: url('../images/cart_icon.png') no-repeat;
	background: url('../images/cart_icon.png') no-repeat;
	background-position: 0 -50px;
}

.w-goods-ing .w-goods-price {
	color: #808080;
}

.m-index-goods-catlog .w-goodsList {
	float: left;
}

.m-index-promotGoods {
	float: left;
	width: 239px;
	height: 400px;
	border: 1px solid #d2d2d2;
	margin-right: -1px;
	margin-top: -1px;
}

.m-index-promotGoods .w-slide-wrap-list-item {
	width: 239px;
}

.m-index-recordRank {
}

.m-index-recordRank .m-index-mod-bd {
	height: 768px;
	overflow: hidden;
	border: 1px solid #ddd;
	border-top: 0;
	border-bottom: 0
}

.m-index-recordRank .m-index-mod-ft {
	height: 32px;
	background-color: #f5f5f5;
	font-size: 14px;
	line-height: 32px;
	text-align: center;
	color: #808080;
	border: 1px solid #ddd;
	border-top: 0;
}

.m-index-recordRank .odd {
	background-color: #fff;
}

.m-index-recordRank .even {
	background-color: #f5f5f5;
}

.m-index-recordRank .w-intervalScroll-item {
	padding: 15px 10px;
	height: 65px;
	border-bottom: 1px solid #ffffff;
}

.m-index-recordRank .w-record-detail {
	margin-left: 50px;
}

.m-index-recordRank .w-record-title {
	width: 100%;
}

.m-index-recordRank .w-record-user {
	float: left;
	display: inline-block;
	width: 80px;
}

.m-index-recordRank-winner .w-record-user {
	width: 60px;
}

.m-index-record-newest {
}

.m-index-record-newest .m-index-mod-bd {
	padding: 0 5px 0 10px;
	height: 496px;
	overflow: hidden;
	background-color: #f5f5f5;
}

.m-index-record-newest .m-index-mod-ft {
	height: 30px;
	background-color: #f5f5f5;
}

.m-index-record-newest .w-intervalScroll-item {
	padding: 16px 0;
	height: 66px;
	border-bottom: 1px solid #ddd;
}

.m-index-record-newest .w-record-detail {
	margin-left: 70px;
}

.m-index-record-newest .w-record-title {
	padding-right: 8px;
	height: 45px;
	overflow: hidden;
}

.m-index-advertising ul {
}

.m-index-advertising li {
	float: left;
	padding-right: 10px;
}

.m-index-advertising .last {
	padding-right: 0;
}

.m-index-goods-hotest {
}

.m-index-goods-others {
}

.m-index-newArrivals {
}

.m-index-newArrivals .w-goods-brief,.m-index-newArrivals .w-goods-briefFree,.m-index-newArrivals .w-goods-blank {
	margin: 10px 19px 13px 20px;
}

.m-index-newArrivals .w-goodsList .w-goodsList-item:hover .w-goods-brief,.m-index-newArrivals .w-goodsList .w-goodsList-item-hover .w-goods-brief,.m-index-newArrivals .w-goodsList .w-goodsList-item:hover .w-goods-blank,.m-index-newArrivals .w-goodsList .w-goodsList-item-hover .w-goods-blank {
	margin: 9px 18px 12px 19px;
}

.m-index-guess {
}

.m-index-share {
	border-bottom: 1px solid #ddd;
}

.m-index-share .w-hd {
	border-bottom: 1px solid #d2d2d2;
}

.m-index-share .m-index-mod-bd {
	height: 261px;
	border-left: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
	overflow: hidden;
	position: relative;
}

.m-index-share .w-intervalScroll-item {
	padding: 20px;
	width: 558px;
	height: 90px;
	float: left;
	border-bottom: 1px dotted #ddd
}

.m-index-share .left {
	border-right: 1px dotted #ddd;
}

.m-index-share-picLink {
	display: block;
	float: left;
	width: 110px;
	height: 90px;
	line-height: 90px;
	*line-height: 87px;
	font-size: 0;
	overflow: hidden;
	border: 1px solid #ddd;
}

.m-index-share-pic {
	vertical-align: middle;
	display: inline;
}

.m-index-share-picLink:before,.m-index-share-picLink:after {
	content: " ";
}

.m-index-share-wrap {
	position: relative;
	margin-left: 120px;
	padding: 10px 40px;
	height: 70px;
	overflow: hidden;
	line-height: 24px;
}

.m-index-share-wrap .txt {
	height: 50px;
	overflow: hidden;
	word-break: break-all;
	word-wrap: break-word;
}

.m-index-share-wrap .txt a {
	color: #7f7f7f;
	text-decoration: none;
}

.m-index-share-wrap .author {
	margin-top: 5px;
	text-align: right;
	color: #b5b5b5;
}

.m-index-share .ico-quote {
	position: absolute;
}

.m-index-share .ico-quote-former {
	top: 0;
	left: 10px;
}

.m-index-share .ico-quote-after {
	bottom: 0;
	right: 10px;
}