@charset "utf-8";
.lottery_con { margin-left:180px; margin-top:20px; padding:6px 7px 7px 7px; background: url(../images/nsc/warp/zsBox.png) no-repeat; height: 77px; overflow: hidden; }

.lottery_timeBox {width: 205px; height:60px; overflow: hidden; padding-top: 17px; }

.timeBox{
    position: relative; width: 40px; height: 36px; display: inline; border: 4px solid #ddd; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; background: #5c5c5c; top:12px;padding-left:2px;
}

.timeFormat{
    display: inline-block;
    font-size: 26px; 
    color: #fff; 
    text-align:center;
    line-height: 36px;
}
.dianBox { 
    position: relative;
    width: 18px; height: 44px; 
    display: inline; 
    background: url(../images/nsc/warp/t.png) no-repeat 5px center;
}

.title{
    display: inline-block;
    font-size: 18px;
    margin-right: 40px;
    padding-left:80px;
    padding-top: 20px;
}

.checked{
    background: url(../images/nsc/lottery/yuan.png) left -76px no-repeat;
}