@charset "utf-8";
.helpCon {
  background: #f4f4f4;
  padding: 10px;
}
.helpMain {
  background: #fff;
  font-size: 14px;
}
.helpInfo {
  line-height: 22px;
}
.helpInfo dt {
  padding: 10px;
}
.helpInfo dt {
  border-bottom: 1px solid #eee;
}
.helpInfo h3 {
  font-size: 18px;
  color: #999;
  font-weight: normal;
}
.helpInfo h3 i {
  position: relative;
  top: 7px;
}
.helpInfo h3 i.iOpen {
  border-width: 2px 0 0 2px;
  top: 9px;
}
.helpInfo h3 em {
  color: #ddd;
  font-size: 22px;
  margin-right: 5px;
}
.helpInfo dd, .helpInfo li {
  font-size: 14px;
}
.helpInfo .helpBox {
  width: 100%;
  padding: 10px 10px 20px;
  display: inline-block;
  color: #666;
  -webkit-box-sizing: border-box;
}
.helpInfo dd h4 {
  font-size: 14px;
  font-weight: normal;
}
.helpInfo dd  p{
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  text-indent: 2em;
  color: rgb(102, 102, 102);
  font-family: Tahoma, Arial, 宋体, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 30px;
  white-space: normal;
}
.helpInfo dd h3{
  padding: 0px;
  font-size: 14px;
  color: rgb(102, 102, 102);
  font-family: Tahoma, Arial, 宋体, Helvetica, sans-serif;
  line-height: 30px;
  white-space: normal;
}



.g-Cart {
  background: #F4F4F4;
  padding: 10px;
}
.g-Cart-list {
  overflow: hidden;
  background: #fff;
}
.g-Cart-list li {
  padding-top: 1px;
  border-top: 1px dotted #CCC;
  margin-top: -1px;
  zoom: 1;
}
.g-Cart-list .u-Cart-img {
  margin: 8px 5px 0 5px;
}
.g-Cart-list .u-Cart-img img {
  width: 80px;
}
.g-Cart-list .u-Cart-r {
  margin-left: 90px;
  margin-top: 5px;
  margin-right: 8px;
}
.u-Cart-r .z-Cart-tt {
  min-width: 15px;
  height: 16px;
  line-height: 16px;
  overflow: hidden;
  margin-bottom: 0;
}
.g-Cart-list .u-Cart-r p {
  margin-bottom: 5px;
  font-size: 12px;
}
.u-Cart-r .z-promo {
  display: block;
  font-size: 12px;
  margin-bottom: 3px;
}
.g-Cart-list .u-Cart-r p {
  margin-bottom: 5px;
  font-size: 12px;
}
.f-Cart-Other {
  width: 100%;
  margin-bottom: 10px;
  display: inline-block;
}
.g-Cart-list .u-Cart-r p {
  margin-bottom: 5px;
  font-size: 12px;
}
.f-Cart-Other .z-del {
  width: 28px;
  height: 28px;
  border-radius: 3px;
  border: 1px solid #ccc;
  display: inline-block;
  background-position: -51px -59px;
}
.f-Cart-Other .z-jian, .f-Cart-Other .z-jia {
  width: 28px;
  height: 28px;
  border-radius: 3px;
  text-align: center;
  display: inline-block;
  color: #999;
}
.f-Cart-Other .z-jiandis, .f-Cart-Other .z-jiadis {
  background: #F7F7F7;
  border: 1px solid #DDD;
  color: #DDD;
}
.f-Cart-Other .z-jian {
  font-size: 24px;
  line-height: 25px;
}
.f-Cart-Other .z-jian, .f-Cart-Other .z-jia {
  background: #fff;
  border: 1px solid #ccc;
}
.f-Cart-Other .z-jia {
  line-height: 28px;
  font-size: 20px;
}
.f-Cart-Other .z-amount {
  color: #666;
  font-family: Arial;
  line-height: 16px;
  padding: 5px 0 4px 0;
  font-size: 16px;
  width: 58px;
  border: 1px solid #BBB;
  border-radius: 3px;
  margin: 0 3px;
  text-align: center;
}
.f-Cart-Other .z-jia {
  line-height: 28px;
  font-size: 20px;
}
input, select, textarea {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-appearance: none;
  border: 0;
  border-radius: 0;
}
.g-Total-bt {
  text-align: center;
  color: #999;
  line-height: 30px;
  margin-top: 10px;
}
.z-minheight {
  min-height: 200px;
}
.haveNot {
  width: 100%;
  margin: 20px auto;
  text-align: center;
  color: #bbb;
  font-size: 16px;
}
.grayBtn, .orgBtn {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  height: 43px;
  line-height: 43px;
  text-align: center;
  color: #fff!important;
  border-radius: 5px;
  font-size: 18px;
}
a.orgBtn {
  background: #db3752;
  border: 1px solid #ca0626;
}
.g-pay-lst li {
  line-height: 20px;
  border-bottom: 1px dotted #CBCBCB;
  max-height: 20px;
  overflow: hidden;
  padding: 10px 10px;
  color: #999;
  position: relative;
}
.g-pay-lst li a {
  line-height: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 18%;
  overflow: hidden;
}
.g-pay-lst li span {
  display: inline-block;
  margin-left: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.g-pay-Total {
  line-height: 33px;
  text-align: right;
  padding-right: 10px;
}
.g-pay-bline {
  height: 4px;
  background-color: #F4F4F4;
  background-position: 0 0;
  background-repeat: repeat-x;
}
.g-Cart {
  background: #F4F4F4;
  padding: 10px;
}
.g-pay-ment {
  overflow: hidden;
}
.z-pay-grayC {
  color: #CCC;
}
.g-pay-ment li {
  line-height: 41px;
  border-top: 1px dotted #CBCBCB;
  max-height: 40px;
  padding: 0 10px;
  overflow: hidden;
  margin-top: -1px;
}
a.z-pay-Recharge {
  width: 65px;
  height: 25px;
  line-height: 25px;
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #BBB;
  float: right;
  text-align: center;
  margin-top: 4px;
  color: #f60;
}
.mt10 {
  margin-top: 10px;
}
.g-pay-ment li {
  line-height: 41px;
  border-top: 1px dotted #CBCBCB;
  max-height: 40px;
  padding: 0 10px;
  overflow: hidden;
  margin-top: -1px;
}
.g-bank-ct s.z-arrow {
  border-width: 0 2px 2px 0;
  margin-top: 11px;
}
.z-mlr {
  margin: 0 3px;
}
.g-bank-ct .z-mlr {
  font-weight: bold;
}
.g-pay-ment li em.orange {
  margin: 0 3px;
}
.z-bank-Roundsel {
  width: 16px;
  height: 16px;
  line-height: 20px;
  border: 1px solid #ccc;
  background: #F6F5F5;
  border-radius: 16px;
  display: inline-block;
  text-align: center;
  margin-right: 8px;
}
.g-pay-ment li .z-bank-Roundsel {
  vertical-align: -2px;
}
.z-bank-Roundsel s {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  display: inline-block;
  margin-top: 2px;
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#db3752),color-stop(1,#db3752));
}
.z-bank-Round {
  width: 16px;
  height: 16px;
  border: 1px solid #bbb;
  background: #fff;
  border-radius: 16px;
  display: inline-block;
  margin-right: 8px;
  box-shadow: 0 1px 1px #ccc inset;
}
.g-pay-ment li .z-bank-Round {
  vertical-align: -5px;
}


































