{wc:fun:js("jquery.webox")}
{wc:templates "index.header"}
<div class="clear"></div>
<!--商品 wrap 开始-->
<div class="wrap" id="loadingPicBlock">
    <div id="current" class="list_Curtit mt0">
        <h1 class="fl c_red">商品搜索－"{wc:$search}"</h1> 
        <span id="spTotalCount">(共<em class="orange">{wc:$search_sum}</em>件相关商品)</span>
    </div>
    {wc:if $search_res}         
    <div class="listContent">
        <ul class="item" id="ulGoodsList">
        {wc:loop $search_res $shop}     
            <li class="goods-iten">
                <div class="pic">
                <a href="{WEB_PATH}/cgoods/{wc:$shop['id']}" target="_blank" title="{wc:$shop['g_title']}">
                <img alt="{wc:$shop['g_title']}" src="{G_UPLOAD_PATH}/{wc:$shop['g_thumb']}"></a>
                <p name="buyCount" style="display:none;"></p>
            </div>
            <p class="name">
                <a href="{WEB_PATH}/cgoods/{wc:$shop['id']}" target="_blank" title="{wc:$shop['g_title']}">{wc:$shop['g_title']}</a>
            </p>
            <p class="money">{wc:fun:L('cgoods.value')}：<span  class="rmb">{wc:$shop['g_money']}</span>   {wc:fun:L('cgoods.currency')}</p>
            <div class="Progress-bar">
                <p title="已完成{wc:fun:percent($shop['canyurenshu'],$shop['zongrenshu'])}">
                <span style="width:{wc:fun:width($shop['canyurenshu'],$shop['zongrenshu'],211)}px;"></span></p>
                <ul class="Pro-bar-li">
                    <li class="P-bar01"><em>{wc:$shop['canyurenshu']}</em>已参与人次</li>
                    <li class="P-bar02"><em>{wc:$shop['zongrenshu']}</em>总需人次</li>
                    <li class="P-bar03"><em>{wc:$shop['zongrenshu']-$shop['canyurenshu']}</em>剩余人次</li>
                </ul>
            </div>
            <div class="gl_buybtn">
                <div class="go_buy">
                    <a href="javascript:;" title="立即夺宝" class="go_Shopping fl"  onclick="jwebox.goshopnow({wc:$shop['id']},'{WEB_PATH}')">{wc:fun:L('cgoods.go')}</a>
                    <a href="{WEB_PATH}/cgoods/{wc:$shop['id']}" title="加入购物车" class="go_cart fr">{wc:fun:L('cgoods.cartlist')}</a>
                </div>
            </div>
            <div class="Curborid" style="display:none;">17272</div>
        </li>
        {wc:loop:end}
            </ul>
    </div>
    {wc:else}
    <div class="NoConMsg w1200"><span>未找到有关“<em class="c_red">{wc:$search}</em>”的商品</span></div>
    {wc:if:end} 
    </div>
<!--商品 wrap 结束-->
<div class="clear"></div>
{wc:templates "index.footer"}
