<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
{wc:fun:seo()}
<script type="text/javascript" src="{G_TEMPLATES_JS}/koala.min.1.5.js"></script>                
<script type="text/javascript" src="{G_TEMPLATES_JS}/jquery-1.4.2.min.js"></script>     
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/index.css"/>
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/Comm.css"/>
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/color.css"/>
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/css.css"/>
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/MyCart.css"/>
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/163style.css">
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/163cssdq.css">

{wc:fun:css()}
<script type="text/javascript" src="{G_GLOBAL_STYLE}/global/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="{G_TEMPLATES_JS}/cloud-zoom.min.js"></script>
<script type="text/javascript" src="{G_TEMPLATES_JS}/jquery.cookie.js"></script>
{wc:fun:js()}
{wc:fun:GetConfiga('acc')}
</head>
<body>
<div class="logo">
    <div class="float">
        <span class="logo_pic"><a href="{WEB_PATH}" class="a" title="一元夺宝-惊喜无线>
            <img src="{G_UPLOAD_PATH}/{wc:fun:Getlogo()}" >
        </a></span>
        <span class="tel"><a href="{WEB_PATH}" style="color:#999;">返回首页</a></span>
    </div>
</div>
