{wc:fun:js("koala.min.1.5")}            
{wc:fun:js("jquery.webox")} 
{wc:templates "index.header"}
<!--商品 wrap 开始-->
<div class="wrap w1200">
    <div class="Current_nav w1200"><a href="{WEB_PATH}/goods_list/">首页</a> &gt;  {wc:$daohang_title}sad</div>
    <div class="list_Curtit b_gray">
        <a  href="{WEB_PATH}/goods_list/{wc:$cid}_0_0" ><h1 class="fl c_red">{wc:$daohang_title}</h1></a>
        <span id="spTotalCount">(共<em class="c_red">{wc:$total}</em>件相关商品)</span>
    </div>
    <div class="list_class b_gray">
        <dl>
            <dt>分类一</dt>
            <dd id="ddBrandList">
                <ul> 
                {wc:if isset($daohang['parentid'])}             
                    <li><a href="{WEB_PATH}/goods_list/{wc:$daohang['parentid']}_0_0" >全部</a></li>
                {wc:else}
                    <li><a href="{WEB_PATH}/goods_list/{wc:$cid}_0_0" class="ClassCur bg_red">全部</a></li>
                {wc:if:end}
                {wc:loop GetCate('0',50,5) $two_cate}               
                    {wc:if $cid == $two_cate['cateid']||$two_cate['cateid'] == $daohang['parentid']}
                    <li><a href="{WEB_PATH}/goods_list/{wc:$two_cate['cateid']}_0_0"  class="ClassCur bg_red">{wc:$two_cate['name']}</a></li>
                    {wc:else}
                    {wc:if $cateid}
                    {wc:loop $cateid $cate}
                    {wc:if $cate == $two_cate['cateid']||$two_cate['cateid'] == $daohang['parentid']}
                    <li><a href="{WEB_PATH}/goods_list/{wc:$two_cate['cateid']}_0_0"  class="ClassCur bg_red">{wc:$two_cate['name']}</a></li>
                    {wc:if:end}
                    {wc:loop:end}
                    {wc:if:end}
                    <li><a href="{WEB_PATH}/goods_list/{wc:$two_cate['cateid']}_0_0">{wc:$two_cate['name']}</a></li>
                    {wc:if:end}
                
                {wc:loop:end}               
                </ul>
            </dd>
        </dl>
    </div>
    {wc:if $cid}
    {wc:if !empty($one_cate_list)}
    <div class="list_class b_gray">
        <dl>
            <dt>分类二</dt>
            <dd id="ddBrandList">
                <ul> 
                {wc:if $one_cate_listtag=='N'}              
                    <li><a href="{WEB_PATH}/goods_list/{wc:$cid}_0_0" class="ClassCur bg_red">全部</a></li>
                {wc:else}
                    <li><a href="{WEB_PATH}/goods_list/{wc:$daohang['parentid']}_0_0" >全部</a></li>
                {wc:if:end}     
                {wc:loop $one_cate_list $two_cate}
                    {wc:if $cid == $two_cate['cateid']}
                    <li><a href="{WEB_PATH}/goods_list/{wc:$two_cate['cateid']}_0_0" class="ClassCur bg_red">{wc:$two_cate['name']}</a></li>
                    {wc:if $cateid}
                    {wc:loop $cateid $cate}
                    {wc:if $cate == $two_cate['cateid']}
                    <li><a href="{WEB_PATH}/goods_list/{wc:$two_cate['cateid']}_0_0"  class="ClassCur bg_red">{wc:$two_cate['name']}</a></li>
                    {wc:if:end}
                    {wc:loop:end}
                    {wc:if:end}                         
                    {wc:else}
                    <li><a href="{WEB_PATH}/goods_list/{wc:$two_cate['cateid']}_0_0">{wc:$two_cate['name']}</a></li>
                    {wc:if:end}
                {wc:loop:end}               
                </ul>
            </dd>
        </dl>
    </div>  
    {wc:if:end}
    {wc:if:end}         
{wc:if  $brand} 
    <div class="list_class b_gray">
        <dl>
            <dt>品牌</dt>
        {wc:if count($brand)>23}
        <dd id="ddBrandList_brand" style="height:78px">
        {wc:else}
        <dd id="ddBrandList_brand">
        {wc:if:end}     
                <ul> 
                {wc:if !$bid}               
                    <li><a href="{WEB_PATH}/goods_list/{wc:$cid}_0_{wc:$sort}" class="ClassCur bg_red">全部</a></li>
                 {wc:else}  
                     <li><a href="{WEB_PATH}/goods_list/{wc:$cid}_0_{wc:$sort}">全部</a></li>
                {wc:if:end}             
                {wc:loop $brand $brands}             
                {wc:if $brands['id'] == $bid}                    
                    <li><a  href="{WEB_PATH}/goods_list/0_{wc:$brands['id']}_{wc:$sort}" class="ClassCur bg_red">{wc:$brands['name']}</a></li>
                {wc:else}   
                    <li><a href="{WEB_PATH}/goods_list/0_{wc:$brands['id']}_{wc:$sort}">{wc:$brands['name']}</a></li>
                {wc:if:end}
                {wc:loop:end}
                </ul>
            </dd>
        </dl>
    {wc:if count($brand)>23}    
    <a class="list_classMore" href="javascript:;">展开<i></i></a>
    {wc:if:end}         
    </div>
    {wc:if:end} 
    <div class="list_Sort b_gray">
        <dl>
            <dt>排序</dt>
            <dd>             
                <a href="{WEB_PATH}/goods_list/{wc:$cid}_{wc:$bid}_2" {wc:if $sort=='2'} class="SortCur"{wc:if:end}>人气</a>
                <a href="{WEB_PATH}/goods_list/{wc:$cid}_{wc:$bid}_4" {wc:if $sort=='4'} class="SortCur"{wc:if:end}>最新</a>
                {wc:if $sort=='5'}
                 <a href="{WEB_PATH}/goods_list/{wc:$cid}_{wc:$bid}_6" class="Price_Sort SortCur">价格<i></i></a>
                {wc:else}
                    {wc:if $sort=='6'}  
                 <a href="{WEB_PATH}/goods_list/{wc:$cid}_{wc:$bid}_5" class="Price_Sort SortCur">价格<s></s></a>   
                 {wc:else}
                  <a href="{WEB_PATH}/goods_list/{wc:$cid}_{wc:$bid}_5" class="Price_Sort">价格</a> 
                    {wc:if:end}
                {wc:if:end}               
            </dd>
        </dl>
    </div>
    {wc:if $cpgoodslist}
    <!--夺宝商品列表--> 
    <div class="get_ready w1200">
        <ul>
        {wc:loop $cpgoodslist $shop}
            <li class="list-blocka">
                <div class="pic"><a href="{WEB_PATH}/goods/{wc:$shop['gid']}"  target="_blank" title="{wc:$shop['g_title']} ">
                <img  alt="{wc:$shop['g_title']}" src="{G_UPLOAD_PATH}/{wc:$shop['g_thumb']}"></a></div>
                <p class="name"><a  href="{WEB_PATH}/goods/{wc:$shop['gid']}" target="_blank" title="{wc:$shop['g_title']} ">{wc:$shop['g_title']}</a></p>
                <p class="money">价值：<span class="rmb">{wc:$shop['g_money']}</span></p>
            <div class="w-goods-ing">
                <div class="shop_buttom bg_red b_red1" style="width:280px;height:30px;">
                    <a href="{WEB_PATH}/goods/{wc:$shop['gid']}" target="_blank"  style="line-height:30px;font-size:14px;"  class="Det_Shopnow" onclick="">{wc:fun:L('cgoods.go')}</a>
                </div>
            </div>      
            </li>       
        {wc:loop:end}           
        </ul>
        {wc:if $total>$num}
        <div class="pagesx">{wc:page:two}</div>     
    </div>
    {wc:if:end}
    <!--商品列表完-->
    {wc:else}
    <!--未找到商品-->
    <div class="NoConMsg"><span>无相关商品记录哦~！</span></div>
    <!--未找到商品-->
    {wc:if:end} 
</div>
<!--商品 wrap 结束-->
<script>
function showh(){
var height=$("#ddBrandList_brand").innerHeight();   
    if(height==78){
        $("#ddBrandList_brand").css("height","auto");
        $(".list_classMore").addClass("MoreClick");
        $(".list_classMore").html("收起<i></i>");
    }else{
        $("#ddBrandList_brand").css("height","78px");
        $(".list_classMore").removeClass("MoreClick");
        $(".list_classMore").html("展开<i></i>");
    };
}
$(function(){   
    $(".list_classMore").click(showh);
});
</script>
<div class="clear"></div>
{wc:templates "index.footer"}