{wc:templates "index.header"}
<style>
ul,li{list-style:none;margin:0;padding:0;}
div,img{display:block;margin:0;padding:0;}
a{margin:0;padding:0;}

.cooperation_wrapper{width:1200px;margin:20px auto 38px auto;overflow:hidden;clear:both;}
.cooperation_wrapper ul,.cooperation_wrapper ul li{display:block; float:left;}
.cooperation_wrapper ul li{margin:18px 17px 0 0;}
.cooperation_wrapper ul li:last-child{margin-right:0;}
.cooperation_wrapper .cooperation_logo{display:block;float:left;width:224px;height:120px;border:1px solid #e4e4e4;background:url({G_TEMPLATES_IMAGE}/partner_logo2.jpg) center no-repeat;}

.coo_wrapper{width:1200px;margin:20px auto 38px auto;overflow:hidden;clear:both;}
.coo_wrapper ul,.coo_wrapper ul li{display:block; float:left;}
.coo_wrapper ul li{margin:18px 17px 0 0;}
.coo_wrapper ul li:last-child{margin-right:0;}
.coo_wrapper .coo_logo{display:block;float:left;width:224px;height:120px;border:1px solid #e4e4e4;}
.coo_logo:last-child{margin-right:0;}
.coo_logo img{display:block;float:left;}

</style>
</head>
<body>
<!--套页面用这块-->
<!-- <div class="cooperation_wrapper">
    <ul>
        <li><a class="cooperation_logo" href="#"></a></li>
        <li><a class="cooperation_logo" href="#"></a></li>
        <li><a class="cooperation_logo" href="#"></a></li>
        <li><a class="cooperation_logo" href="#"></a></li>
        <li><a class="cooperation_logo" href="#"></a></li>
    </ul>
    <ul>
        <li><a class="cooperation_logo" href="#"></a></li>
        <li><a class="cooperation_logo" href="#"></a></li>
        <li><a class="cooperation_logo" href="#"></a></li>
        <li><a class="cooperation_logo" href="#"></a></li>
        <li><a class="cooperation_logo" href="#"></a></li>
    </ul>
    <ul>
        <li><a class="cooperation_logo" href="#"></a></li>
        <li><a class="cooperation_logo" href="#"></a></li>
        <li><a class="cooperation_logo" href="#"></a></li>
        <li><a class="cooperation_logo" href="#"></a></li>
        <li><a class="cooperation_logo" href="#"></a></li>
    </ul>
</div> -->

<!--页面写死用这块-->
<div class="coo_wrapper">
    <ul>
        <li><a class="coo_logo" href="#"><img src="{G_TEMPLATES_IMAGE}/partner_logo1.jpg" /></a></li>
        <li><a class="coo_logo" href="#"><img src="{G_TEMPLATES_IMAGE}/partner_logo2.jpg" /></a></li>
        <li><a class="coo_logo" href="#"><img src="{G_TEMPLATES_IMAGE}/partner_logo1.jpg" /></a></li>
        <li><a class="coo_logo" href="#"><img src="{G_TEMPLATES_IMAGE}/partner_logo2.jpg" /></a></li>
        <li><a class="coo_logo" href="#"><img src="{G_TEMPLATES_IMAGE}/partner_logo1.jpg" /></a></li>
    </ul>
    <ul>
        <li><a class="coo_logo" href="#"><img src="{G_TEMPLATES_IMAGE}/partner_logo1.jpg" /></a></li>
        <li><a class="coo_logo" href="#"><img src="{G_TEMPLATES_IMAGE}/partner_logo2.jpg" /></a></li>
        <li><a class="coo_logo" href="#"><img src="{G_TEMPLATES_IMAGE}/partner_logo1.jpg" /></a></li>
        <li><a class="coo_logo" href="#"><img src="{G_TEMPLATES_IMAGE}/partner_logo2.jpg" /></a></li>
        <li><a class="coo_logo" href="#"><img src="{G_TEMPLATES_IMAGE}/partner_logo1.jpg" /></a></li>
    </ul>
    <ul>
        <li><a class="coo_logo" href="#"><img src="{G_TEMPLATES_IMAGE}/partner_logo1.jpg" /></a></li>
        <li><a class="coo_logo" href="#"><img src="{G_TEMPLATES_IMAGE}/partner_logo2.jpg" /></a></li>
        <li><a class="coo_logo" href="#"><img src="{G_TEMPLATES_IMAGE}/partner_logo1.jpg" /></a></li>
        <li><a class="coo_logo" href="#"><img src="{G_TEMPLATES_IMAGE}/partner_logo2.jpg" /></a></li>
        <li><a class="coo_logo" href="#"><img src="{G_TEMPLATES_IMAGE}/partner_logo1.jpg" /></a></li>
    </ul>
</div>


</body>
<div class="clear"></div>
{wc:templates "index.footer"}