{wc:fun:css("user.message")}
{wc:templates "index.header"}
<div class="clear"></div>
<!--商品 wrap 开始-->
<div class="layout980 clearfix">
    {wc:templates "user.left"}
    <!--个人中心中间 开始-->
    <div class="R-content">
        <div class="member-t"><h2 style="font-size:14px;font-weight:bold;">{wc:fun:L('html.key')}记录</h2></div>
        <div id="GoodsList" class="goods_show">
            <ul class="gtitle">
                <li>商品图片</li>
                <li class="gname">商品名称</li>
                <li class="yg_status">{wc:fun:L('html.key')}状态</li>
                <li class="joinInfo">参与人次</li>
                <li class="do">操作</li>
            </ul>
            {wc:loop $record $rt}
            {wc:if $rt['getowin_uid']} 
            <ul class="goods_list"> 
                <li><a title="" target="_blank" class="pic" href="{WEB_PATH}/cgdataserver/{wc:$rt['ogid']}"><img src="{G_UPLOAD_PATH}/{wc:fun:useri_title($rt['og_title'],'g_thumb')}"></a></li>
                <li class="gname"style="margin:10px 0 0 0;">
                    <a target="_blank" href="{WEB_PATH}/cgdataserver/{wc:$rt['ogid']}" class="blue">第({wc:$rt['oqishu']})期 {wc:fun:useri_title($rt['og_title'],'g_title')}</a>
                    <p class="gray02">获得者：<a href="{WEB_PATH}/uname/{wc:fun:idjia($rt['getowin_uid'])}" target="_blank" class="blue">{wc:$rt['getowin_uname']}</a></p>
                    <p class="gray02">揭晓时间：{wc:fun:microt($rt['q_end_time'],'r')}</p>
                </li>           
                <li class="yg_status" style="margin:23px 0 0 0;"><span class="c_red">已揭晓</span></li>
                <li class="joinInfo" style="margin:23px 0 0 0;"><p><em>{wc:$rt['onum']}</em>人次</p></li>
                <li class="do" style="margin:23px 0 0 0;"><a href="{WEB_PATH}/member/shop/userbuydetail/{wc:$rt['oid']}" class="blue" title="详情">详情</a></li>
            </ul>
            {wc:else}
            <ul class="goods_list"> 
                <li><a title="" target="_blank" class="pic" href="{WEB_PATH}/cgoods/{wc:$rt['ogid']}"><img src="{G_UPLOAD_PATH}/{wc:fun:useri_title($rt['og_title'],'g_thumb')}"></a></li>
                <li class="gname" style="margin:15px 0 0 0;">
                    <a target="_blank" href="{WEB_PATH}/cgoods/{wc:$rt['ogid']}" class="blue">第({wc:$rt['oqishu']})期  {wc:fun:useri_title($rt['og_title'],'g_title')}</a>             
                    <p class="gray02">购买时间：{wc:fun:microt($rt['otime'],'r')}</p>
                </li>
                <li class="yg_status" style="margin:23px 0 0 0;"><span class="orange">正在进行...</span></li>
                <li class="joinInfo" style="margin:23px 0 0 0;"><p><em>{wc:$rt['onum']}</em>人次</p></li>
                <li class="do" style="margin:23px 0 0 0;"><a href="{WEB_PATH}/member/shop/userbuydetail/{wc:$rt['oid']}" class="blue" title="查看夺宝码">查看购买码</a></li>
            </ul>   
            {wc:if:end}
            {wc:loop:end}
        </div>
    </div>  
    {wc:if $total>$num}
        <div class="pagesx">{wc:page:two}</div> 
    {wc:if:end} 
    <!--个人中心中间 结束-->
</div>
<!--商品 wrap 结束-->
<div class="clear"></div>
{wc:templates "index.footer"}