{wc:fun:css("user.message")}
{wc:templates "index.header"}
<div class="clear"></div>
<!--商品 wrap 开始-->
<div class="layout980 clearfix">
    {wc:templates "user.left"}
    <!--个人中心中间 开始-->
    <div class="R-content">
        <div class="member-t"><h2>提现记录</h2></div>
        <div id="divMentionList" class="list-tab cash gray02 f12">
            <ul class="listTitle">
                <li class="w150">申请时间</li>
                <li class="w300">银行账户信息</li>
                <li class="w120">提现金额(元)</li>
                <li class="w120">手续费(元)</li>
                <li class="w120">审核状态</li>
            </ul>
            <ul>
                <li class="w150">2014-11-27 02:11:46</li>
                <li class="w300">江苏旷达就搜到平顶山是度搜</li>
                <li class="w120">3988.00</li>
                <li class="w120">10.00</li>
                <li class="w120">审核通过</li>
            <ul>
            <ul>
                <li class="w150">2014-11-27 02:11:46</li>
                <li class="w300">江苏旷达就搜到平顶山是度搜</li>
                <li class="w120">3988.00</li>
                <li class="w120">10.00</li>
                <li class="w120">审核未通过</li>
            <ul>
            <ul>
                <li class="w150">2014-11-27 02:11:46</li>
                <li class="w300">江苏旷达就搜到平顶山是度搜</li>
                <li class="w120">3988.00</li>
                <li class="w120">10.00</li>
                <li class="w120">审核通过</li>
            <ul>
            <ul>
                <li class="w150">2014-11-27 02:11:46</li>
                <li class="w300">江苏旷达就搜到平顶山是度搜</li>
                <li class="w120">3988.00</li>
                <li class="w120">10.00</li>
                <li class="w120">审核未通过</li>
            <ul>
            <ul>
                <li class="w150">2014-11-27 02:11:46</li>
                <li class="w300">江苏旷达就搜到平顶山是度搜</li>
                <li class="w120">3988.00</li>
                <li class="w120">10.00</li>
                <li class="w120">审核通过</li>
            <ul>
            <ul>
                <li class="w150">2014-11-27 02:11:46</li>
                <li class="w300">江苏旷达就搜到平顶山是度搜</li>
                <li class="w120">3988.00</li>
                <li class="w120">10.00</li>
                <li class="w120">审核未通过</li>
            <ul>
            <div class="tips-con" style="display:none"><i></i>未有相应提现记录</div>           
           </div>   
    </div>
    <!--个人中心中间 结束-->
</div>
<!--商品 wrap 结束-->
<div class="clear"></div>
{wc:templates "index.footer"}
