{wc:fun:css("user")}
{wc:fun:css("user.message")}
{wc:templates "index.header"}
<div class="content clearfix">
    <div class="per-info">
        <ul>
            <li class="info-mane gray02">
                <b class="gray01">lvdeng</b>                
            </li>
            <li class="info-address"><span><a href="" class="blue"><s></s>http://zk.2yyg.com</a></span></li>
            <li class="info-intro gray02">
                这家伙很懒，什么都没留下。
            </li>
        </ul>
    </div>
    <div class="subnav">
        <ul>
                <li class="poa-4"><a class="cur">TA的主页<s></s></a></li>               
                <li class="poa-4"><a href="#">夺宝记录<s></s></a></li>      
                <li class="poa-4"><a href="#">获得的商品<s></s></a></li>
        </ul>
    </div>
        <div id="divInfo0" class="New-content">
            <div class="scroll-list">
                <div class="R-tit">
                    <span class="tit-name gray01">lvdeng</span>
                        <i>在2015年01月28日 10:41参与夺宝</i>
                        <span class="tit blue"><a target="_blank" href="#" class="blue">测试1</a></span>
                </div>          
            <div class="buy-com">
                <p class="buy-pic"><a target="_blank" href="#">
                    <img src="http://zk.2yyg.com/YunGouCMS_V3.1.8_templates_3/statics/uploads/photo/goods.jpg"></a>
                </p>
                <div class="buy-rcon">                  
                    <p class="buy-name"><a target="_blank" rel="nofollow" href="#" class="blue">(第6期)测试1</a></p>    <p class="buy-money gray02">价值：<span class="money"><i class="rmb">13.00</i></span></p>
                    <p class="buy-code gray02">幸运夺宝码：<span class="orange">10000005</span></p>
                    <p class="buy-time gray02">揭晓时间：2015-01-28 10:44:09</p>
                    <p><a target="_blank" href="#" class="button03">去看看</a></p>
                </div>
            </div>
        </div>      
    </div>
</div>