{wc:fun:css("user.message")}
{wc:templates "index.header"}
<div class="clear"></div>
<!--商品 wrap 开始-->
<div class="layout980 clearfix">
    {wc:templates "user.left"}
    <!--个人中心中间 开始-->
    <div class="R-content">
        <div class="member-t"><h2>佣金明细</h2></div>
        <div class="total f12 b_pink bg_pink">
            <dt></dt>
            <dd>累计收入：<b class="c_red">{wc:$shourutotal}</b>{wc:fun:L('cgoods.currency')}</dd>  
            <dd>累计(提现/充值)：<b class="c_red">{wc:$zhichutotal}</b>{wc:fun:L('cgoods.currency')}</dd> 
            <dd>佣金余额：<b class="c_red">{wc:$total1}</b>{wc:fun:L('cgoods.currency')}</dd>
            <dd>
                <a href="{WEB_PATH}/member/account/comcashout" title="充值到{wc:fun:L('html.key')}账户" class="bluebut" style="padding:0;width:120px;">充值到{wc:fun:L('html.key')}账户</a>
            </dd>
            <dd class="gray02">佣金余额可实时充值到您的帐户</dd>
        </div>
        <div id="divCommissionList" class="list-tab commission gray02">
            <ul class="listTitle">
                <li class="w140">用户</li>
                <li class="w150">时间</li>
                <li class="w280">描述</li>
                <li class="w90">{wc:fun:L('html.key')}金额({wc:fun:L('cgoods.currency')})</li>
                <li class="w90">佣金({wc:fun:L('cgoods.currency')})</li>
            </ul>
            {wc:if $recodetotal!=0}
            {wc:loop $recodearr  $key $val}
            <ul>
            <li class="w140"><a href="{WEB_PATH}/uname/{wc:fun:idjia($val['uid'])}" target="_blank"><img src= "{wc:if $member['img']==null}{G_TEMPLATES_STYLE}/images/prmimg.jpg{wc:else}{G_UPLOAD_PATH}/{wc:$member['img']}{wc:if:end}" alt="" border="0"></a><a href="{WEB_PATH}/uname/{wc:fun:idjia($val['uid'])}" target="_blank" class="blue">{wc:$username[$val['uid']]}</a></li>
            <li class="w150">{wc:fun:date('Y-m-d H:i:s',$val['time'])}</li>
            <li class="w280">{wc:if $uid==$val['uid']}{wc:$val['content']}{wc:else}<a target="_blank" href="{WEB_PATH}/goods/{wc:$val['shopid']}" title="{wc:$val['content']}" class="blue">{wc:$val['content']}</a>{wc:if:end}</li><li class="w90">{wc:$val['ygmoney']}</li><li class="w90 orange">{wc:if $uid==$val['uid']}-{wc:else}+{wc:if:end}{wc:$val['money']}</li>
            </ul>
            {wc:loop:end}
            {wc:else}
             <div class="tips-con"><i></i>您还未有邀请谁哦</div></div>
             {wc:if:end}            
            {wc:if $total>$num}
                <div class="pagesx">{wc:page:two}</div> 
            {wc:if:end} 
        </div>  
    </div>  
    <!--个人中心中间 结束-->
</div>
<!--商品 wrap 结束-->
<div class="clear"></div>
{wc:templates "index.footer"}
