{wc:fun:css("user.message")}
{wc:templates "index.header"}
<div class="clear"></div>
<!--商品 wrap 开始-->
<div class="layout980 clearfix">
    {wc:templates "user.left"}
    <!--个人中心中间 开始-->
    <div class="center">
        <div class="per-info">
            <ul>
                <li class="info-mane gray02">
                    <b class="gray01">lvdeng</b>(1351268671@qq.com)
                    <br>
                    <span><a href="" target="_blank" class="blue"><s></s>http://localhost/1kdb/?/uname/1000000001</a></span>
                </li>
                <li class="account-money">
                    <em class="gray02">经验值：30082</em> 
                    <span class="class-icon06 gray01"><s></s>黄金夺宝猎人</span>
                    <span class="gray02">（还差9918经验值升级到最高等级）</span>
                </li>
                <li class="account-money">
                    <em class="gray02">帐户余额：</em>
                    <span class="money-red"><s></s>75.00</span>&nbsp;&nbsp;
                    <a href="" title="充值" class="blue">充值</a>
                </li>
            </ul>       
        </div>
    </div>
    <!--个人中心中间 结束-->
    <!--个人中心右边 开始-->
    <div class="right">             
        <div class="groups-shadow clearfix">
            <div class="R-grtit">
                <h3>圈子热门话题</h3>
            </div>
            <ul class="R-list">
                <li>
                    <p class="groups-t"><a href="" target="_blank" class="gray">test</a></p>
                    <p class="groups-c gray02">夺宝<span class="gray03"> | </span>0条回复</p>
                </li>
                <li>
                    <p class="groups-t"><a href="" target="_blank" class="gray">xss</a></p>
                    <p class="groups-c gray02">夺宝<span class="gray03"> | </span>0条回复</p>
                </li>
                <li>
                    <p class="groups-t"><a href="" target="_blank" class="gray">xss</a></p>
                    <p class="groups-c gray02">夺宝<span class="gray03"> | </span>0条回复</p>
                </li>
                <li>
                    <p class="groups-t"><a href="" target="_blank" class="gray"></a></p>
                    <p class="groups-c gray02">夺宝<span class="gray03"> | </span>0条回复</p>
                </li>
                <li>
                    <p class="groups-t"><a href="" target="_blank" class="gray">夺宝</a></p>
                    <p class="groups-c gray02">夺宝<span class="gray03"> | </span>0条回复</p>
                </li>
            </ul>
        </div> 
        <p class="r-line"></p>
    </div>
    <!--个人中心右边 结束-->
</div>
<!--商品 wrap 结束-->
<div class="clear"></div>
{wc:templates "index.footer"}
